USE [RPAD]
GO
/****** Object:  UserDefinedFunction [dbo].[tvf_PropertySummary]    Script Date: 4/24/2015 10:53:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[tvf_PropertySummary](@uniqueID VARCHAR(17))
RETURNS TABLE
AS RETURN
(
	 SELECT
  UNIQUEID,
  TMK,
  OWN1,
  OWNSEQ,
 -- CUR_TOT_VAL,
  dbo.util_TaxRecAmountMoneyStr(CUR_TOT_VAL) CUR_TOT_VALStr,
	ISNULL(case when [ADRPRE]  IN ('-','.','`') THEN null ELSE ADRPRE END,'') +
	CASE WHEN
		CASE WHEN [ADRPRE]  IN ('-','.','`') THEN null ELSE ADRPRE END +
		[ADRNO] IS NOT NULL THEN '-' ELSE '' END +
	ISNULL([ADRNO],'') + 
	ISNULL([ADRADD],'') +
	CASE WHEN 
		CASE WHEN 
				[ADRPRE]  IN ('-','.','`') THEN '' ELSE ADRPRE END +
				[ADRNO] IS NOT NULL THEN '' ELSE '' END +
	CASE WHEN [ADRDIR] IS NOT NULL THEN ADRDIR + ' ' ELSE ' ' END +
	ISNULL([ADRSTR],'') +
	CASE WHEN ADRSUF IS NOT NULL THEN ' ' + ADRSUF ELSE '' END +
	CASE WHEN ADRSUF2 IS NOT NULL THEN ' ' + ADRSUF2 ELSE '' END +
	CASE WHEN [UNITDESC] + [UNITNO] IS NOT NULL THEN ' ' ELSE '' END +
	CASE WHEN [UNITDESC] IS NOT NULL THEN ' ' + [UNITDESC] ELSE '' END + 
	CASE WHEN [UNITDESC] + [UNITNO] IS NOT NULL THEN ' ' ELSE '' END +
	CASE WHEN [UNITNO] IS NOT NULL THEN [UNITNO] ELSE '' END AddrLine1,
	ISNULL([PROPERTY_CITY],'') +
	CASE WHEN  [PROPERTY_CITY] + [PROPERTY_STATE] IS NOT NULL THEN ', ' ELSE '' END +
	ISNULL([PROPERTY_STATE],'') +
	CASE WHEN  [PROPERTY_STATE] + [PROPERTY_ZIP] IS NOT NULL THEN ', ' ELSE '' END +
	ISNULL([PROPERTY_ZIP],'') AddrLine2
  FROM vProperty
  WHERE UNIQUEID = @uniqueID
)
